@page
@model ServiceHost.Pages.AccessDeniedModel
@{
}

<link rel="stylesheet" type="text/css" href="~/Theme/assets/css/error.css"/>



 
<div class="wrapper">
    <div class="box">
        <h1>403</h1>
        <p>شما دسترسی به این صفحه را ندارید</p>
        <p><a asp-page="/Index">صفحه اصلی</a></p>
    </div>
</div>