@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<div class="main-container error404">
    <div class="container">
        <div class="search-form-wrapper">
            <h2>OOPS! PAGE NOT BE FOUND</h2>
            <p class="home-link">Sorry but the page you are looking for does not exist, has been removed, changed or is temporarity unavailable.</p>
            <form role="search" method="get" class="searchform blogsearchform" action="http://eposi.mallthemes.com/">
                <div class="form-input">
                    <input type="text" placeholder="Search... " name="s" class="input_text ws">
                    <button class="button-search searchsubmit blogsearchsubmit" type="submit">Search</button>
                    <input type="hidden" name="post_type" value="post">
                </div>
            </form>			<a class="button" href="http://eposi.mallthemes.com/" title="">Back to home page</a>
        </div>
    </div>
    <!-- brand logo -->
    <!-- end brand logo -->  
</div>