@using _0_Framework.Application
@using AccountManagement.Infrastructure.Configuration
@using ShopManagement.Infrastructure.Configuration.Permissions
@inject IAuthHelper _authHelper;
@{
    var user = _authHelper.GetAccountInfo();
}

<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div class="user-details">
            <div class="pull-left">
                <img src="~/AdminTheme/images/users/avatar-1.jpg" alt="" class="thumb-md img-circle">
            </div>
            <div class="user-info">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">@user.Fullname <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)"><i class="md md-face-unlock"></i> Profile<div class="ripple-wrapper"></div></a></li>
                        <li><a href="javascript:void(0)"><i class="md md-settings"></i> Settings</a></li>
                        <li><a href="javascript:void(0)"><i class="md md-lock"></i> Lock screen</a></li>
                        <li><a href="javascript:void(0)"><i class="md md-settings-power"></i> Logout</a></li>
                    </ul>
                </div>

                <p class="text-muted m-0">@user.Role</p>
            </div>
        </div>

        <div id="sidebar-menu">
            <ul>
                <li>
                    <a asp-area="administration" asp-page="/Index" class="waves-effect active"><i class="md md-home"></i><span> داشبورد </span></a>
                </li>

                <li>
                    <a asp-area="administration" asp-page="/Comment/Index" class="waves-effect "><i class="md md-message"></i><span> کامنت </span></a>
                </li>
                
                <li>
                    <a asp-area="administration" asp-page="/Shop/Orders/Index" class="waves-effect "><i class="md md-shopping-basket"></i><span> سفارشات</span></a>
                </li>
                @if (_authHelper.GetCurrentInfo() == Roles.Administrator)
                {
                    <li>
                        <a asp-area="administration" asp-page="/Inventory/Index" class="waves-effect "><i class="md md-add-box"></i><span> انبار</span></a>
                    </li>
                }
                else if (_authHelper.GetCurrentInfo() == Roles.InventoryManager)
                {
                    <li>
                        <a asp-area="administration" asp-page="/Inventory/Index" class="waves-effect "><i class="md md-add-box"></i><span> انبار</span></a>
                    </li>
                }
                @if (_authHelper.GetCurrentInfo() == Roles.Administrator)
                {

                    <li class="has_sub">
                        <a class="waves-effect"><i class="fa fa-shopping-cart"></i><span> فروشگاه </span><span class="pull-right"><i class="md md-add"></i></span></a>
                        <ul class="list-unstyled">
                            <li><a asp-page="/Shop/productCategories/Index">گروه محصولات </a></li>
                            <li><a asp-page="/Shop/Slides/Index">اسلایدر</a></li>
                            <li><a permission="@ShopPermissions.ShowProducts" asp-page="/Shop/Products/Index">محصولات</a></li>
                            <li><a asp-page="/Shop/Productpictures/Index">عکس محصولات </a></li>
                        </ul>
                    </li>
                    <li class="has_sub">
                        <a class="waves-effect"><i class="md md-crop-free"></i><span> سیستم تخفیفات </span><span class="pull-right"><i class="md md-add"></i></span></a>
                        <ul class="list-unstyled">
                            <li><a asp-page="/Discounts/CustomerDiscounts/Index">تخفیفات مشتریان</a></li>
                            <li><a asp-page="/Discounts/ColleagueDiscounts/Index">تخفیفات همکاری</a></li>
                        </ul>
                    </li>
                    <li class="has_sub">
                        <a class="waves-effect"><i class="md md-verified-user"></i><span> مدیریت کاربران</span><span class="pull-right"><i class="md md-add"></i></span></a>
                        <ul class="list-unstyled">
                            <li><a asp-page="/Accounts/Users/Index">کاربران</a></li>
                            <li><a asp-page="/Accounts/Roles/Index">نقش ها</a></li>
                        </ul>
                    </li>
                }

                <li class="has_sub">
                    <a class="waves-effect"><i class="md md-messenger"></i><span> سیستم بلاگینگ </span><span class="pull-right"><i class="md md-add"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a asp-page="/Blog/ArticleCategories/Index">گروه مقالات</a></li>
                        <li><a asp-page="/Blog/Articles/Index">مقاله ها</a></li>
                    </ul>
                </li>



                <li>
                    <a asp-page="/Account" asp-page-handler="SignOut" class="waves-effect "><i class="fa fa-sign-out"></i><span> خروج </span></a>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>